#whatmon {
    width: auto;
    max-width: auto; // was 20em <= 2.0.4
    list-style-image: url("chrome://whatmon/skin/whatmon16.png");
    text-align: center;
    padding: 0 .15em 0 .5em;
    border: 1px inset;
}
